body {
	background: #eee;
}

#wrapper {
	background: white;
	max-width: 1200px;
	margin: auto;
}

.repaircounter {
	padding-top: 2em;
	font-size: 175%;
	text-align: center;
	font-weight: 500;
}

.repaircounter em {
	font-size: 250%;
	display: block;
	font-weight: bold;
	text-align: center;
	padding-top: 10pt;
}

.repaircounter a {
	color: #555;
	text-decoration: underline;
}

/* Gästebuch */
.guestbook-head {
	font-size: 150%;
	padding-bottom: .5em;
	font-weight: bold;
	color: #404040;
}

.guestbook-body {
	font-size: 115%;
}

.guestbook-form {
	padding-top: 3em;
}

.post-meta {
	font-size: 90%;
	padding-bottom: 20pt;
	padding-top: 5pt;
	display: block;
}

.post-title {
	margin-bottom: 0pt;
}
